div#TestElement {margin: 10px; padding: 10px; border: 1px solid red; background-color: yellow;
       width: 160px; cursor: pointer; text-align: center;}
div img {border: 1px solid purple; margin: 10px 0 0 0;}
div p {color: green; font-size: 24px; font-weight: bold; margin: 0;}
span {color: red;}
table {border-collapse: collapse;}
td.tdCommand {padding: 4px 10px 4px 4px; border: 1px solid green; color: orange;}
div#divEffectOptions {padding: 4px; color: #666600;}
div#divEffectOptions .tdOptionsTitle {width: 80px; text-align: right;}
div#divEffectOptions .tdOptionsItems {padding-left: 10px;}
.hidden {display: none;}
.show {display: inline;}